<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Election Guesser</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<!-- Shows images for every county in the United states-->
<body>

	 <tr th:each="county : ${counties}">
		<br>
			 <img th:src="@{${county.getImageURL}}" alt = "County Image Not Found!!!"/>
		<br>
			<td th:text="${county.getImageURL}"></td> 

   </tr>

</body>

</html>